ul.complex_list {
    display: flex;
}

.complex_list li {
    font: 0.75em arial;
    list-style: none;
}

.complex_list li a {
    text-decoration: none;
    margin: 2px;
    color: #fff;
}


header {
    width: 100%;
    height: 100px;
    background: white;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: relative;
}

/* меню */
#menu {
    float: right;
}

#menu li {
    display: inline-block;
    margin-right: 40px;
}

#menu a {
    font-size: 30px;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    line-height: 40px;
    margin-left: 10px;
}




