{% extends 'layout.html' %}

{% block content %}
    <div class="features">
        <h1>Проект</h1>
        <div>
            <p>Дополнительное дошкольное образование может быть различным – музыкальная или художественная школы,
                спортивные
                секции, игровые обучающие приложения, научные шоу и школы. Согласно утверждению И.Р. Лазаренко
                дополнительное образование – «интегрирующий этап в системе непрерывного образования, оно актуализирует
                имеющиеся знания и опыт, констатирует профессиональные затруднения и позволяет определить перспективы
                профессионального совершенствования». Целью дополнительного дошкольного образования является общее
                развитие. </p>
        </div>


        <button type="submit" onClick="location.href='courses'" class="btn btn-danger">К курсам</button>


    </div>
{% endblock %}
