{% extends 'base.html' %}

{% block content %}
    <div class="features">
        <h2>Add Course</h2>
        <form class="decor" method="post">
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
                {% csrf_token %}
                {{ form.title }}
                <br>
                {{ form.hours }}
                <br>
                {{ form.intro }}
                <button class="btn btn-success" type="submit">Добавить курс</button>
            </div>
        </form>
    </div>
{% endblock %}
