{% extends 'base.html' %}

{% block content %}
    <div class="features">
        <h1>Курcы</h1>
            <div class="post-wrap">
                {% for el in courses %}
                <div class="post-item">
                    <div class="item-content">
                        <div class="item-icon group"></div>
                        <div class="item-body">
                            <h3>{{ el.title }}</h3>
                            <p>{{ el.intro }}</p>
                            <p>{{ el.hours }} уроков</p>
                        </div>
                        <div class="item-footer">
                            <a href="{% url 'course_detail' el.id %}" class="link"><span>Подробнее</span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}


