{% extends 'base.html' %}

{% block content %}
    <h1>Задание "{{ task.name }}"</h1>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>

                    <p>{{ task.description }}</p>
                    {% if task.file %}
                        {% if task.file.url|slice:'-4' == '.mp4' %}
                            <video src="{{ task.file.url }}" controls>видео</video>
                        {% else %}
                            <img src="{{ task.file.url }}" alt="{{ task.name }}">
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет заданий для этого курса.</p>
    {% endif %}
{% endblock %}
