{% extends 'base.html' %}

{% block content %}
    <h1>{{ task.name }}</h1>
    <p>{{ task.description }}</p>
    {% if task.attached_file %}
        {% if task.file|slice:'-4' == '.mp4' %}
            <video src="{{ task.file.url }}" controls></video>
        {% else %}
            <img src="{{ task.file.url }}" alt="{{ task.name }}">
        {% endif %}
    {% endif %}
    <br>
    <br>
    {% if user.is_staff %}
        <p><a href="{% url 'task_update' pk=object.pk %}">Редактировать</a></p>
        <p><a href="{% url 'task_delete' pk=object.pk %}">Удалить</a></p>
    {% endif %}
{% endblock %}